.about-page{
	.about-intro{
		// @include myoutline(red);
	    background-repeat: no-repeat;
	    background-position: 0 120%;

	    .locations{
	    	// margin-top: 60px;
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
		    max-width: 800px;
	    	margin: auto auto;
	    	margin-top:60px;
	    	flex-direction:row;	
		    li{
			    margin: 10px;
			    background-size: 2.1rem;
			    font-size: 1.1rem;
			    padding: 0.3rem;
			    padding-left: 2.7rem;
			    background-position: 0 2px;
			    a{
			    	color:$brand-green;
			    	font-weight:700;
			    }
		    }
	    }
	}

}