.career-page{
	.intro-block{
		background-repeat: no-repeat;
	    background-position: 0 100%;
	    background-size: 50%;
	    @media screen and (max-width: $screen-sm) {
	    	background-image:none !important;
	    }
	    .h2{
	    	color:$brand-green;
	    }
		.cta{
			margin-top:10px;
			background-color:$brand-lightgreen;	
			color:$brand-green;
		}
	}
}