.contact-info{
	// @include myoutline(red);

	.gform_wrapper{
	// @include myoutline(red); 
		width: 100%;

		@include breakpoint($screen-md-min){
			width: 70%;
		}
	
		// Form Heading
		.gform_heading{
			// @include myoutline(green);

			.gform_title{
				@extend .heading-rule;
				text-transform: uppercase;
			} 

			.gform_description{
			} 
		} 
		
		// Form Fields
		.gform_fields{
			width: 100%; 

			.ginput_container input, .ginput_container textarea {
				background-color: $brand-alt1; 
			}

			.ginput_container textarea{
				height: 145px;
			}

			.gfield_label{
				@extend .sr-only; 
			} 

			.gsection_title{
				font-size: $font-size-base;
				margin: 1.0rem 0 0.5rem 0;
				text-transform: uppercase;
				font-weight: map-get($font-weights, regular); 
				border-bottom: solid 1px $brand-alt1;
			}

			ul.gfield_checkbox, ul.gfield_radio{
				list-style-type: none; 
				margin: 0;
				padding: 0;
 
				label{ font-weight: map-get($font-weights, regular); }
			} 

			ul.gfield_radio label{margin-left: 0.14rem;} 


		}

		// Form Footer
		.gform_footer{
			text-align: left;

			.gform_button{
				@extend .btn;
				background-color: #000; 
				border-color: #000;
			}

		}
		
	}

} 

.contact-page{

	.block{
		padding-top: 2.4rem;
	}
}  