.page-home{
	.home-slider{
		position:relative;
		overflow: hidden;
		max-height: 480px; 
		
		.layer{
			display: none;
	    	// @include myoutline(red);
 
			@include breakpoint($screen-sm-min){
				position: absolute;
			    top: 0;
			    left: 0;
			    display: flex;
			    align-items: center;
			    justify-content: space-between;
				padding: 0 100px;
				overflow: hidden; 
				width: 100%; 
				flex-direction: row; 
				flex-wrap: wrap;
				align-items: stretch;
				height: 100%;
			}


		    .text-layer{
		    	// @include myoutline(blue);
		    	flex: 0 1 span(6);  
		    	@include breakpoint($screen-lg-min){
			    	flex: 0 1 span(5);  
		    	}

				div:first-child{
					color:#fff;
					font-family:$headings-font-family;
					font-size:1.5rem;
					margin-bottom: 10px;
				}
 
				.headline-animation{
					height:8rem;
					>div{
						color:$brand-beige;
						font-size: 2.8rem;
					    font-weight: 600;
					    line-height: 1.1;
					    letter-spacing: 1px;
					    margin:0;
					    font-family:$headings-font-family;
					    animation-duration: 17s;
	    				animation-iteration-count: infinite;
	    				animation-delay: 3s;
					    @media screen and (min-width: $screen-sm) {
							font-size:3.5rem;
					    }
					    &:first-child{
					    	animation-name: home-title1;
	    					
					    }
					    &:nth-child(2){
					    	animation-name: home-title2;
					    } 
					}
				}
				a.cta{
					background-color: #fff;
    				margin-top: 25px;
    				color:$brand-green;
    				font-weight:400;
				}
			}

			.form-layer{
		    	// @include myoutline(green);  
				max-width: 400px;
				height: 100%; 
				display: flex;
				flex-direction: row;
				align-items: center; 

		    	// Layout and position
		    	flex: 0 1 span(6);
		    	@include breakpoint($screen-lg-min){
			    	flex: 0 1 span(5);
		    	}
		    	padding: 4px gutter();

				// Style
		    	background-color: rgba($brand-alt, 0.9); 
		    	color: #fff;

		    	// Form
		    	.gform_heading{
		    		color: #fff;
		    		display: none;
		    		@include breakpoint($screen-md-min){ display: block; }
					
					.gform_title{
						$gform_titel-fz: (
						  default : 17px,
						  small   : 17px,
						  medium  : 18px,
						  large   : (30px, 1.1)
						);
						display: none;
						@include font-size($gform_titel-fz); 
						@include breakpoint($screen-md-min){ display: block; }
						text-transform: uppercase;
						color: #fff;
						padding: 0;
						margin: 0;
					}

					.gform_description{
						$gform_description-fz: (
						  default : 13px,
						  small   : 13px,
						  medium  : 13px,
						  large   : 18px
						);

						text-transform: uppercase;
						@include font-size($gform_description-fz); 
						line-height: 1.1;
					}

		    	} 


		    	// select
				textarea,
				input[type="text"],
				input[type="password"],
				input[type="datetime"],
				input[type="datetime-local"],
				input[type="date"],
				input[type="month"],
				input[type="time"],
				input[type="week"],
				input[type="number"],
				input[type="email"],
				input[type="url"],
				input[type="search"],
				input[type="tel"],
				input[type="color"]{
					font-size: 14px;	 
					padding: 4px 6px;
				} 


		    	.gfield_label{
		    		@extend .sr-only;
		    	}

		    	textarea.textarea{
		    		height:60px; 

		    		@include breakpoint($screen-lg-min){ 
		    		height:95px;
		    		}
		    	}

				.gform_button{
					background-color: rgba(#000, 0.5); 
					border-color: rgba(#000, 0.5);
					font-size: 14px;

					&:hover, &:focus{ 
						background-color: rgba(#000, 0.7); 
						border-color: rgba(#000, 0.7);	
					}
				}

				.gform_validation_error{
					
					// @include myoutline(green);

					// We need to the room to fit error text
					.gform_heading{ display: none; }


					.validation_error{
						background-color: transparent; 
						font-size: 14px;
						color: $brand-danger;
					}

					.validation_message{
						font-size: 14px;
					}

				}


			}
		}
	}


	.home-introgrid{
		// @include myoutline(red); 
		width: 100%;
		margin: 0 !important;
		padding: 0;
		list-style-type: none; 
		flex-direction: initial !important;
		display: block !important; 
		overflow: hidden;

		li, iframe{
			// @include myoutline(blue); 
			margin-bottom: 2.1rem;
			max-height: 220px;   
			overflow: hidden;
			position: relative;

			@include breakpoint($screen-xs-min){ 
				@include gallery(6 of 12);  
				max-height: 220px;	
			}

			@include breakpoint($screen-sm-min){ 
				@include gallery(4 of 12);  
				max-height: 220px;	
			}

			@include breakpoint($screen-md-min){ 
				@include gallery(4 of 12);  
				max-height: 320px;	
			}

			.headline{
				background-color: #2c2c2c;
				color: #fff;
				text-align: center;
				padding: 12px;

				// Layout
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			} 

			.img-cont{
				overflow: hidden;
				// min-height:320px;
				width: 100%;
				@include myoutline(green); 
				position: relative;
				img{
					object-fit: cover;
					height: 320px;
				}
			}
		} 
	}

	.featured-services{
		background-repeat: repeat;
		>div{
			display:flex;
			flex-wrap:wrap;
			text-align:left;
			>div{
				width:100%;
				padding: 0 10px;
				margin-bottom:20px;
				@media screen and (min-width: $screen-xs) {
					width:50%;
				}
				@media screen and (min-width: $screen-md) {
					width:25%;
					margin-bottom:0;
				}
				>.featured-image{
					border:2px solid $brand-lightgreen;
				}
				>h3{
					margin-top: 20px;
				    font-size: 1.4rem;
				    font-weight: 600;
					color: $brand-green;
				}
				>a{
					font-weight:400;
				}
			}
		}
	}
	.our-services{
		.services{
			display: flex;
    		flex-wrap: wrap;
    		margin-top:30px;
    		flex-direction:row;
    		max-width:650px;
    		margin:auto auto;
			li{
				text-align: left;
			    width: calc( 100% - 10px );
			    padding: 20px 15px 20px 70px;
			    margin: 5px;
			    border:2px solid $gray-lighter;
			    background-size: 45px;
    			background-position: 10px center;
			    @media screen and (min-width: $screen-xs) {
					width: calc( 50% - 10px );
				}
				a{
					color:$gray-base;
				    font-size: 1.2rem;
				    font-weight: 400;
				    font-family:$headings-font-family;
				}
			}
		}
	}
	.home-split-1{
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size:cover;
	    @media screen and (max-width: $screen-sm) {
			background:none;
		}
		.split-content{
			.half-copy{
				>a.cta{
					color:$gray-base;
					margin-top:15px;
					background-color:$brand-lightgreen;
				}
			}
			.half-image{
				width:100%;
    			@media screen and (min-width: $screen-sm + 1) {
					width: 50%;
    				padding: 2rem 5%;
    			}
			}
		}
	}
	.home-split-2{
		align-items: initial;
		background-color:$brand-green;
		.half-image{
			flex:1;
		}
		.half-copy{
			h2, p{
				color:#fff;
			}
			h2{
				margin-bottom:20px;
			}
			ul{
				list-style:none;
				margin-top:15px;
				padding:0;
				a{
					margin:0;
				}
			}
		}
	}
	.our-projects{
		.our-projects{
			margin:0;
			padding:0;
			list-style:none;
			display:flex;
			flex-wrap:wrap;
			margin-top:25px;
			flex-direction:row;
			li{
				width: calc( 100% - 30px );
				margin:15px;
				border:1px solid $brand-green;
				@media screen and (min-width: $screen-sm) {
					width: calc( 50% - 30px );
    			}
    			.project-description{
    				display:flex;
    				flex-direction:column;
    				align-items:flex-start;
    				padding: 20px;
    				text-align:left;
    				h3, p{
    					text-align:left;
    				}
	    			h3{
	    				color:$brand-green;
	    			}
	    			>a{
	    				margin-top:10px;
	    			}
    			}
			}
		}
	}

	.service-title{
		font-weight: 700 !important;
		margin: 0;    
	}

	.service-subtitle{
		margin: 0;    
		font-size: 16px;
	}
}

@keyframes home-title1 {
    0%   {transform: translateY(0);}
    25%   {transform: translateY(0);opacity:1;}
    30%   {transform: translateY(50%);opacity:0;}
    35%  {transform: translateY(100%);opacity:1;}
    65%  {transform: translateY(100%);opacity:1;}
    70%  {transform: translateY(50%);opacity:0;}
    75% {transform: translateY(0);opacity:1;}
    100% {transform: translateY(0);}
}
@keyframes home-title2 {
    0%   {transform: translateY(0);}
    25%   {transform: translateY(0);opacity:1;}
    30%   {transform: translateY(-50%);opacity:0;}
    35%  {transform: translateY(-100%);opacity:1;}
    65%  {transform: translateY(-100%);opacity:1;}
    70%  {transform: translateY(-50%);opacity:0;}
    75% {transform: translateY(0);opacity:1;}
    100% {transform: translateY(0);}
}