
// Layout
.project-list, .list4grid{
	// @include myoutline(red);
	width: 100%;
	margin: 0 auto !important;
	padding: 0;
	list-style-type: none;
	display: block !important; 
	@include container(100%);

	li{
		border: solid 2px $gray-lighter;
		// min-height: 200px;
		margin-bottom: gutter();

		@include breakpoint($screen-xs-min){
			@include span(6 of 12 0.15 split);
		}

		@include breakpoint($screen-sm-min){
			@include span(4 of 12 0.15 split);
		}

		@include breakpoint($screen-md-min){
			@include span(3 of 12 0.15 split);
		}

	}
}


// Style
.project-list, .list4grid{

	li{
		text-align: center;
		padding-bottom: 0.25rem;
	}

	.learn-more{
		@extend .btn;
		@extend .btn-primary;
		font-size: 14px;
	}

	img{
		height: 175px;
		object-fit: cover;
		object-position: center;
	}

	h2{
		text-transform: uppercase;
		font-size: $font-size-small;
		width: 100%;
		margin: 0.4rem 0;
	}

	.description{
		height: 90px;
		overflow: hidden;
		margin-top: 0.5rem;
	}
} 

