.concrete-stamps-page{

	// Grid of Stamps
	.stamps{
		// @include myoutline(red);
		width: 100%;
		margin: 0;
		padding: 0;
		@include clearfix();

		li{
			// @include myoutline(blue); 

			border: solid 1px $gray-light;
			margin-bottom: 1.5rem;

			@include breakpoint($screen-xs-min){
				@include gallery(6 of 12); 
			}

			@include breakpoint($screen-sm-min){
				@include gallery(4 of 12);  
			}			


			// Large sampl image
			.stamp-thumbnail{ 
				// @include myoutline(red);
				margin-bottom: 0.4rem; 
				height: 225px;
				overflow: hidden;

				img{ 
					object-fit: cover;
					object-position: 50% 50%;
					min-height: 100%;
					width: 100%;
				}
			}

			// Copy details including the icon
			.detail{
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				flex-wrap: wrap;
				padding: 0.25rem;
				height: 3.5rem;

				@include breakpoint($screen-xs-min){
					height: 4.0rem; 
				}
 
				@include breakpoint($screen-sm-min){
					height: 2.8rem; 
				}

				.icon{
					flex: 0 1 span(3);
					img{
						@include img-responsive();
						height: 45px;
						width: auto;
					}
				}

				.header{
					flex: 0 1 span(9);
					h2{ font-size: $font-size-base; }
				}
			}

		}
	}

	.title-logo{
		text-align: center;
		img{
			@include img-responsive(); 
			margin: 0 auto;
		}
	}
}