.container{
	@include container();
	&::before, &::after{
		display:none;
	}
}
 
.container-fluid{
	@include container(100%);
}


// Site Container 
.site{
	// @include myoutline(red);
	@include container(100%);
}

// Site Header
.site-header{
	background-color:#fff;
	.header-main{

		display         : flex;
		flex-direction  : column;
		justify-content : space-between;
		flex-wrap       : wrap;
		align-items     : center;
		padding         : 0 15px; 
	    &::after{ display:none !important; } 

	    @include breakpoint($screen-sm-min){
			flex-direction : row;
			padding        : 26px 40px;
	    } 

		// logo
		.site-branding{ 
			// @include myoutline(red);
			flex: 0 1 span(12); 

			@include breakpoint($screen-md-min){
				flex: 0 1 span(4);  
			}
		}

		// Site Description
		.site-description{ 
			// @include myoutline(red);
			flex: 0 1 span(12); 

			@include breakpoint($screen-sm-min){
				flex: 0 1 span(8); 
			}

			@include breakpoint($screen-md-min){
				flex: 0 1 span(4); 
			}
		} 

		// Button
		.site-btn{  
			// @include myoutline(red);
			flex: 0 1 span(12); 
			@include breakpoint($screen-sm-min){ 
				flex: 0 1 auto; 
			} 
		} 
	}
	
}

// Site Content - No Side bar
.site-content{ 
	// @include myoutline(red);
	// clear: both;
	// margin-top: $header-height-xs;

	// @include breakpoint($screen-xs-min){ margin-top: $header-height-sm; }
	// @include breakpoint($screen-sm-min){ margin-top: $header-height-md; }
	// @include breakpoint($screen-md-min){ margin-top: $header-height-lg; }

	.content-area{
		// @include myoutline(blue);
		width: 100%;
	}

}

// Site Content with sidebar
.page-template-tpl-container-sidebar .site-content, 
.blog .site-content, 
.archive .site-content,
.search .site-content, 
.post-template-default .site-content{
	

	.content-area{
		// @include myoutline(blue);
		@include span(12);

		// SM Breakpoint 
		@include breakpoint($screen-sm-min){
			@include span(7);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(8);
		}

		// LG Breakpoint
		@include breakpoint($screen-lg-min){
			@include span(9);
		}

	}

	// Site Content - Side bar A.K.A ~ widget area.
	.widget-area{
		// @include myoutline(blue);
		@include span(12); 

		// SM Breakpoint 
		@include breakpoint($screen-sm-min){
			@include span(5);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(4);
		}

		// LG Breakpoint
		@include breakpoint($screen-lg-min){
			@include span(3);
		}

	}

}


// Site Content full Width - No Side Bar
.page-template-tpl-full .site-content, .tax-service-category .site-content, .post-type-archive-project .site-content{ 
	// @include myoutline(red);
	@include container(100%);
	clear: both;
	// margin-top: $header-height-xs;

	// @include breakpoint($screen-xs-min){ margin-top: $header-height-sm; }
	// @include breakpoint($screen-sm-min){ margin-top: $header-height-md; }

	.content-area{
		// @include myoutline(blue); 
		@include span(12);
	}

}

// Site Content with sidebar
.page-template-tpl-full-sidebar .site-content{
	// @include myoutline(red); 
	@include container(100%);
	clear: both;
	margin-top: $header-height-xs;

	@include breakpoint($screen-xs-min){ margin-top: $header-height-sm; }
	@include breakpoint($screen-sm-min){ margin-top: $header-height-md; }	

	.content-area{
		// @include myoutline(blue);
		@include span(12);

		// SM Breakpoint 
		@include breakpoint($screen-sm-min){
			@include span(7);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(8);
		}

		// LG Breakpoint
		@include breakpoint($screen-lg-min){
			@include span(9);
		}

	}

	// Site Content - Side bar A.K.A ~ widget area.
	.widget-area{
		// @include myoutline(blue);
		@include span(12); 

		// SM Breakpoint 
		@include breakpoint($screen-sm-min){
			@include span(5);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(4);
		}

		// LG Breakpoint
		@include breakpoint($screen-lg-min){
			@include span(3);
		}

	}

}


// Site Footer
.site-footer{

	.nav-footer, .footer-brand{
		@include span(12);

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(4);
		}

	}

	
	.blog-feed{

		// @include myoutline(red);
		@include span(12);
		margin:30px 0;

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(5);
			margin:0;
		}

		.east, .west{
			@include span(12); 

			// this is not a good place for this
			text-align: center; 
			@include breakpoint($screen-xs-min){
				@include span(6); 
			}

			@include breakpoint($screen-md-min){
				text-align: initial; 
			}

			@include breakpoint($screen-md-min){
				@include span(6);  
			}
		}
	}

	.footer-utility{
		// @include myoutline(red);
		@include span(12);
		text-align:center;

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(3);
			text-align:left;
		}
	}

	.site-info{
		// @include myoutline(yellow);
		@include span(12);

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

	.site-longevity{
		// @include myoutline(yellow);
		@include span(12);		

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

}

.tax-service-category{
	
	article.service{ 
		@include span(4);
		// @include myoutline(red); 
		min-height: 220px;
		@extend .panel;
		@extend .panel-default; 


		header{ 
			@extend .panel-heading; 
			.entry-title{font-size: $font-size-base; }
		}
	}

}