.single-location{
	.section2{
		h2{
			max-width: 650px;
			margin:auto auto;
		}
		img{
		    max-width: 140px;
		    margin-bottom: 10px;
		}
	}
	.section3{
		background-color:$brand-green;
		color:#fff;
		align-items: initial;
		ul{
			list-style:none;
		}
	}
}