.feature-banner{
	position:relative;
	.headline{
		position:absolute;
		left:0;
		top:0;
		height:100%;
		width:100%;
		display:flex;
		justify-content:center;
		align-items:center;
		color:#fff;
		font-weight:300;
		text-transform:uppercase;
		margin:0;
	}
}