// Address Card
.address-card{
	a{
		color: $link-color;
		&:hover, &:focus{
			color: $link-hover-color;
		} 
	}
}

.location-footer, .services-footer{
	ul.list-unstyled{
		margin-left: 0; 
	}

	a{
		color: $link-color;
		&:hover, &:focus{
			color: rgba($link-color, 0.8); 
		}
	}
}


.site-longevity{
	text-align: center;

	@include breakpoint($screen-sm-min){
		text-align: right;
	} 
}

.site-info{
	text-align: center;
	
	@include breakpoint($screen-sm-min){ 
		text-align: left;
	}
}

// This most likely needs to be somewhere else. 
.footer-brand{
	text-align:center;
	@include breakpoint($screen-sm-min){ 
		text-align: left;
	}
	.custom-logo-link{
		width: 100%;
	    padding: 1.4rem 0;
	    display: block;
	}
} 


.site-footer{
	h2{
		color: #fff; 
		font-weight:400;
		text-transform: uppercase;
		&:after{ display: none; }
	}
}

// .view-testimonial{
// 	@extend .cta;
// 	background-color: $brand-lightgreen;
//     margin-top: 25px;
//     color:$brand-green;
// }

.footer-social{
	margin-top:35px;
	i{
		color:#fff;
		font-size:27px;
	}
} 