
.custom-logo-link{
    display: inline-block;
    width: 100%;
    // max-width: 320px;
    box-sizing: border-box;
    padding: 0 1.4rem;   
} 

.site-description{
	text-align: center; 
	margin-bottom: 0.5rem;
	line-height: initial; 
	
	span.h4{
		
		$site-des-fz: (
		  default : (14px, 1.1),
		  small   : (17px, 1.1),
		  medium  : (18px, 1.1),
		  large   : (19px, 1.1)  
		);
		
		@include font-size($site-des-fz); 

		&:after{display: none;}
	}
} 

.site-btn{
	text-align: center;  
	margin-bottom: 0.5rem;

	@include breakpoint($screen-sm-min){
		text-align: right;   
	}
}