.testimonial{

	padding-left: 0;
	padding-right: 0;
	h2{
		font-size: 1.8rem;
		text-transform: uppercase; 
		@extend .heading-rule;
	}

	
	.lg-testimonial-content{
		max-width : 1200px;
		margin    : auto auto;
		padding   : 0 2.4rem;

		&:before, &:after{
			content     : '\f10d';
			font-family : FontAwesome;
			font-size   : 1.9rem;
			color       : $brand-alt1;
			display     : block;
			position    : absolute;
			top         : 50%;
			left        : 0;
			transform: translateY(-50%);
		}

		&:after{
			content : '\f10e';
			right   : 0;
			left    : initial;
		}


	}

	.lg-testimonial-controls{
		flex-direction:row !important;
		>li{
			border: 1px solid #fff;
			background-color: transparent;
			cursor:pointer;
			width:13px;
			height:13px;
			&.active{
				background-color:#fff;
				border: 1px solid #fff;
			}
		}
	}


	blockquote{
		font-weight: 400;
		font-family: $headings-font-family;
		border:0;
		padding:0;
		@include breakpoint($screen-sm-min){
			padding:15px;
		}
	}


	.view-testimonial{
		@extend .btn;
		@extend .btn-primary;
	}
}

// .testimonial-page .grid-item{
// 	background-image: url(./images/flower-pattern.jpg);
// } 