// UL container
.widget-area{

}

// Default widget
.widget{

	.widget-title{
		border: solid 1px $brand-primary;
		background-color: $brand-primary;
		color: #fff;
		padding: 12px;
		font-size: $font-size-large;
	}

	& > ul{
		@include list-unstyled;
		margin: 0 12px 0 12px;
	}
}

.widget_search{
	// @include myoutline(red);
}


